:root{
  --color-primary: #D9D0E9;
  --color-title: #8142EF;
  --white: #FFFFFF;
  --second-bg-color: rgb(50, 57, 70, 0.6);
  --gradient: linear-gradient(120deg, #FFFFFF 40%, #D9D0E9 100%);
  --btn-gradient: linear-gradient(90deg, #B542EF 40%, #B566F2 100%);
  --color-shadow: rgba(181, 102, 242,  0.8);
}
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: var(--color-title);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif !important;
}

::-webkit-scrollbar {
  width: 0;
  background-color: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 10px;
}

body {
  font-size: 1rem !important;
  background-color: var(--bg-primary);
  background-image: url("./assets/bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

a, button {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700 !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

/* Header */

.container_NavBar {
  transition: all 0.5s ease !important;
}

.container_NavBar, a{
  background-color: var(--color-primary) !important;
  color: var(--color-title) !important;
}

.container_NavBar a:hover{
  background: var(--btn-gradient) !important;
  color: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
}

.nav-selected {
  background: var(--btn-gradient) !important;
  color: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
}

.boxModal_SaibaMais {
  background: var(--color-primary) !important;
  color: var(--color-title) !important;
  transition: all 0.5s ease !important;
}

.logoName {
  font-family: 'Julee', cursive !important;
  animation: scaleLogo 2s infinite;

}
@keyframes scaleLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Body */

/* Home */
.container_body{
  padding-top: 5rem;
  min-height: 100vh !important;
}
.img_home{
  filter: drop-shadow(0 0 1rem var(--white));
  width: 170px;
  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.btn_SaibaMais {
  background: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
}
.btn_SaibaMais:hover {
  background: var(--color-title) !important;
  color: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
}

.box_Carousel {
  background: var(--second-bg-color) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
}

/* Formação */

.container_Formation{
  background: var(--second-bg-color) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  min-height: 70vh !important;
}

.btnAccordion{
  background: var(--color-title) !important;
  color: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  
}

/* Profissional */

.container_Professional{
  border:1px solid var(--second-bg-color) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  min-height: 60vh !important;

}
.imgLogo {
  filter: drop-shadow(0 0 8px var(--white));
  width: 200px;
}
.text_justify{
  text-align: justify;
}
.btnTools:hover{
  background: var(--btn-gradient) !important;
  color: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
}

/* Portfolio */

.boxCardProjetos{
  background: var(--color-primary) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  width: 300px !important;
  height: 800px !important;
}

.boxCardProjetos:hover{
  box-shadow: 0px 20px 20px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
}

.imgProjetos:hover{
  transform: scale(1.2);
  transition: 0.5s ease ;
}

.textCardProjetos{
  color: var(--color-title) !important;
}
.icons:hover{
  box-shadow: 0px 10px 10px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
  transform: scale(1.2);

}

/* Contato */

.container_Contact{
  background-image: url("./assets/bg-contact.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  min-height: 50vh !important;
  margin-bottom: 10rem;
}
.textContact{
  color: var(--color-title) !important;
}
.container_Form {
  width: 250px !important;
  /* padding: 0 1rem !important; */
}
.areaText {
  resize: none !important;
}

.input_Contato {
  background: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
}
.input_Contato:hover {
  background: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
}

.btn_Enviar {
  background: var(--color-title) !important;
  color: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
}

.btn_Enviar:hover {
  background: var(--btn-gradient) !important;
  color: var(--white) !important;
  box-shadow: 0px 4px 4px 0px var(--color-shadow) !important;
  transition: all 0.5s ease !important;
}

/* Footer */

.container_footer {
  background-color: var(--color-primary) !important;;
  text-align: center;
  border-color: var(--color-primary) !important;
}

.link_Redes:hover{
  border-color: var(--color-title) !important;
  transition: all 0.5s ease;
  transform: scale(1.2);
}

/* Media Queries */

@media (min-width: 768px) {
  .container_body{
    padding-top: 3rem !important;
  }
  .container_Form {
    width: 400px !important;
  }
}
@media (min-width: 1024px) {
  .container_body{
    padding-top: 0 !important;
  }
  .container_Contact{
    margin-bottom: 0rem;
  }
}